# ==========================================
# LINZ / Stats NZ API
# ==========================================

LINZ_API_KEY=your_linz_api_key_here
STATS_NZ_API_KEY=your_stats_nz_api_key_here


# ==========================================
# Azure Blob Storage
# ==========================================

AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here
AZURE_STORAGE_RAW_CONTAINER_NAME=raw
AZURE_STORAGE_ANALYSIS_CONTAINER_NAME=processed


# ==========================================
# PostgreSQL / PostGIS
# ==========================================

POSTGIS_HOST=your-postgis-host
POSTGIS_PORT=5432
POSTGIS_DATABASE=auckland_water_supply
POSTGIS_USER=postgres
POSTGIS_PASSWORD=your_postgis_password_here
POSTGIS_SSLMODE=prefer
POSTGIS_TARGET_SCHEMA=staging